*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
ul,
ol {
  list-style: none;
}
button {
  padding: 0.75em 1em;
  cursor: pointer;
  transition: 230ms;
  border-radius: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  border-collapse: collapse;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
